.Tampilan {
  background-color: #4CAF50;
  border: 'none';
  color: 'white';
  justify-content: 'center';
  text-decoration: 'none';
  display: 'flex';
  font-size: '16px';
  margin: '4px 2px';
  cursor: 'pointer';
}

.font {
  color: 'blue';
  font-size: '18px';
  font-weight: 'bold';
}